# Import Section

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('./dft-road-casualty-statistics-casualty-provisional-mid-year-unvalidated-2022 (1).csv')

# Hello Data

In [2]:
df

,status,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty
0,Unvalidated,2022070151244,2022,070151244,2,1,1,2,46,8,3,0,0,0,0,0,9,1,9,E01033378
1,Unvalidated,2022070152668,2022,070152668,1,1,1,1,30,6,3,0,0,0,0,0,9,1,2,E01018551
2,Unvalidated,2022070154696,2022,070154696,1,1,1,2,58,9,3,0,0,0,0,0,9,1,10,E01006134
3,Unvalidated,2022070154696,2022,070154696,2,3,1,2,78,11,3,0,0,0,0,0,9,2,10,E01018724
4,Unvalidated,2022070154696,2022,070154696,3,2,1,1,63,9,3,0,0,0,0,0,9,3,7,W01000578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61347,Unvalidated,2022461156711,2022,461156711,1,1,3,2,56,9,3,10,9,0,0,0,0,1,10,E01024046
61348,Unvalidated,2022461157243,2022,461157243,1,1,3,1,14,3,2,5,9,0,0,0,0,-1,-1,-1
61349,Unvalidated,2022461157256,2022,461157256,2,1,1,1,42,7,3,0,0,0,0,0,9,1,5,E01016034
61350,Unvalidated,2022461157316,2022,461157316,1,1,1,2,40,7,3,0,0,0,0,0,9,1,3,E01024497
61351,Unvalidated,2022461159841,2022,461159841,2,1,1,1,71,10,3,0,0,0,0,0,9,1,2,E01016025

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61352 entries, 0 to 61351
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   status                              61352 non-null  object
 1   accident_index                      61352 non-null  object
 2   accident_year                       61352 non-null  int64
 3   accident_reference                  61352 non-null  object
 4   vehicle_reference                   61352 non-null  int64
 5   casualty_reference                  61352 non-null  int64
 6   casualty_class                      61352 non-null  int64
 7   sex_of_casualty                     61352 non-null  int64
 8   age_of_casualty                     61352 non-null  int64
 9   age_band_of_casualty                61352 non-null  int64
 10  casualty_severity                   61352 non-null  int64
 11  pedestrian_location                 61352 non-null  int64
 12  pedestrian_movement                 61352 non-null  int64
 13  car_passenger                       61352 non-null  int64
 14  bus_or_coach_passenger              61352 non-null  int64
 15  pedestrian_road_maintenance_worker  61352 non-null  int64
 16  casualty_type                       61352 non-null  int64
 17  casualty_home_area_type             61352 non-null  int64
 18  casualty_imd_decile                 61352 non-null  int64
 19  lsoa_of_casualty                    61352 non-null  object
dtypes: int64(16), object(4)
memory usage: 9.4+ MB

In [4]:
df.describe()

,accident_year,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
count,61352.0,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000
mean,2022.0,1.450368,1.333779,1.482299,1.368790,36.670312,6.288157,2.783039,0.800316,0.645325,0.222047,0.048507,0.032860,9.475160,1.091032,4.337674
std,0.0,1.109855,0.981507,0.735614,0.534536,19.574357,2.463082,0.442318,2.197167,2.009611,0.615127,0.426419,0.261327,16.662727,0.903365,3.158496
min,2022.0,1.000000,1.000000,1.000000,-1.000000,-1.000000,-1.000000,1.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,2022.0,1.000000,1.000000,1.000000,1.000000,22.000000,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000
50%,2022.0,1.000000,1.000000,1.000000,1.000000,34.000000,6.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,4.000000
75%,2022.0,2.000000,1.000000,2.000000,2.000000,50.000000,8.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,7.000000
max,2022.0,227.000000,148.000000,3.000000,9.000000,101.000000,11.000000,3.000000,10.000000,9.000000,9.000000,9.000000,2.000000,98.000000,3.000000,10.000000

# Missing Data

In [9]:
df_pure = df.copy()

In [10]:
df_pure = df_pure.replace(-1, pd.NA)  # Replace -1 with missing values (NA) 
df_pure = df_pure.where(df_pure != "-1", pd.NA)  # Replace "-1" with missing values (NA)
df_pure.isna().sum()

status                                   0
accident_index                           0
accident_year                            0
accident_reference                       0
vehicle_reference                        0
casualty_reference                       0
casualty_class                           0
sex_of_casualty                        448
age_of_casualty                       1350
age_band_of_casualty                  1350
casualty_severity                        0
pedestrian_location                      0
pedestrian_movement                      0
car_passenger                          314
bus_or_coach_passenger                  23
pedestrian_road_maintenance_worker     113
casualty_type                            5
casualty_home_area_type               5498
casualty_imd_decile                   5784
lsoa_of_casualty                      8027
dtype: int64

In [ ]:
#df_pure.dropna(inplace=True)  # Remove rows with missing values (NA)

# Distributions:

In [ ]:
df_pure = df_pure.sort_values(by='accident_index')

In [ ]:
print(df_pure['casualty_reference'].value_counts().head(30))

# Plot the distribution of casualties involved in an accident
plt.figure(figsize=(4, 3))
sns.countplot(x='casualty_reference', data=df_pure)
plt.title('Distribution of Accident Casualties')
plt.xlabel('Casualty Severity')
plt.ylabel('Count')
plt.show()

In [ ]:
# Plot the distribution of casualty classes
plt.figure(figsize=(4, 3))
sns.countplot(x='casualty_class', hue='casualty_class', data=df_pure)
plt.title('Distribution of casualty classes')
plt.xlabel('Casualty Class')
plt.ylabel('Count')
plt.legend(labels=['Driver or rider', 'Passenger', 'Pedestrian'])
plt.show()

In [ ]:
print(df_pure['sex_of_casualty'].value_counts())

# Plot the distribution of casualties sex
plt.figure(figsize=(4, 3))
sns.countplot(x='sex_of_casualty', hue='sex_of_casualty', data=df_pure)
plt.title('Distribution of casualties sex')
plt.xlabel('Sex of Casualty')
plt.ylabel('Count')
plt.legend(labels=['Male', 'Female', 'Unkown'])
plt.show()

In [ ]:
# Plot the distribution of casualties' age band
plt.figure(figsize=(8, 6))
sns.countplot(x='age_band_of_casualty', hue='age_band_of_casualty', data=df_pure)
plt.title("Distribution of casualties' age band")
plt.xlabel('Age band of Casualty')
plt.ylabel('Count')
plt.legend(labels=['0-5', '6-10', '11-15', '16-20', '21-25', '26-35', '36-45', '46-55', '56-65', '66-75', 'over 75'])
plt.show()

In [ ]:
# Plot the distribution of accident severities
plt.figure(figsize=(4, 3))
sns.countplot(x='casualty_severity', hue='casualty_severity', data=df_pure)
plt.title('Distribution of Accident Severities')
plt.xlabel('Casualty Severity')
plt.ylabel('Count')
plt.legend(labels=['Fatal', 'Serious', 'Slight'])
plt.show()

In [ ]:
# Plot the distribution of casualty types
plt.figure(figsize=(6, 4))
sns.countplot(x='casualty_type', data=df_pure)
plt.title('Distribution of Casualty Types')
plt.xlabel('Casualty Type')
plt.ylabel('Count')
plt.show()

In [ ]:
# Plot the distribution of casualties based on their casualty IMD decile.
plt.figure(figsize=(8, 6))
sns.countplot(x='casualty_imd_decile', hue='casualty_imd_decile', data=df_pure)
plt.title('Distribution of casualty IMD decile')
plt.xlabel('Casualty IMD decile')
plt.ylabel('Count')
plt.legend(labels=['Most deprived 10%', '10-20%', '20-30%', '30-40%', '40-50%',
                   'Less deprived 40-50%', '30-40%', '20-30%', '10-20%', 'Least deprived 10%'])
plt.show()

In [ ]:
# Plot the distribution of casualties based on the type of home area
plt.figure(figsize=(4, 3))
sns.countplot(x='casualty_home_area_type', hue='casualty_home_area_type', data=df_pure)
plt.title('Distribution of Casualty Home Area Type')
plt.xlabel('Casualty Home Area Type')
plt.ylabel('Count')
plt.legend(labels=['Urban area', 'Small town', 'Rural'])
plt.show()

In [ ]:
# GSS code system of England and Wales
# Distribution of casualties in England and Wales:

# Custom function to map values to codes
def map_lsoa_to_code(value):
    if value.startswith("E"):
        return 1
    elif value.startswith("W"):
        return 2
    else:
        return 0  # or handle other cases if needed

# Apply the custom function to create a new 'GSS_code' column
df_pure['GSS_code'] = df_pure['lsoa_of_casualty'].apply(map_lsoa_to_code)

# Count the occurrences of each code
code_counts = df_pure['GSS_code'].value_counts()

# Plot the results
plt.figure(figsize=(4, 3))
sns.countplot(x='GSS_code', hue='GSS_code', data=df_pure)
plt.title('Distribution of casualties in England and Wales')
plt.xlabel('GSS_Code')
plt.ylabel('Count')
plt.legend(labels=['England', 'Wales'])
plt.show()

print(code_counts)

In [ ]:
# Plot the relationship between casualty severity and gender
plt.figure(figsize=(4, 3))
sns.countplot(x='casualty_severity', hue='sex_of_casualty', data=df_pure)
plt.title('Casualty Severity by Gender')
plt.xlabel('Casualty Severity')
plt.ylabel('Count')
plt.legend(labels=['Male', 'Female'])
plt.show()

In [ ]:
# Plot the relationship between casualty severity and casualty class
plt.figure(figsize=(4, 3))
sns.countplot(x='casualty_severity', hue='casualty_class', data=df_pure)
plt.title('Casualty Severity by Casualty Class')
plt.xlabel('Casualty Severity')
plt.ylabel('Count')
plt.legend(labels=['Driver', 'Passenger', 'Pedestrian'])
plt.show()

In [ ]:
# Plot the relationship between casualty severity and casualty's home area type
plt.figure(figsize=(4, 3))
sns.countplot(x='casualty_severity', hue='casualty_home_area_type', data=df_pure)
plt.title('Casualty Severity by Home Area Type')
plt.xlabel('Casualty Severity')
plt.ylabel('Count')
plt.legend(labels=['Urban', 'Small town', 'Rural'])
plt.show()

# Heat Map

In [ ]:
# Compute the correlation matrix
corr = df_pure.corr()

# Generate a mask for the upper triangle
mask = np.triu(np.ones_like(corr, dtype=bool))

# Set up the matplotlib figure
plt.figure(figsize=(15, 12))

# Generate a custom diverging colormap
cmap = sns.diverging_palette(230, 20, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5}, annot=True)

plt.title('Correlation Matrix Heatmap')
plt.show()